.stat-col {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    transition: 0.5s ease;
    transform: scale(1.1);
}
.stat-col:hover {
    
}

.issn {
    color: rgb(62, 80, 96);
    font-weight: 500;
    margin: 1rem 0px;
}

h1 {
    font-size: 1em;
  }
  
  p {
    font-family: Inter, sans-serif;
    color: rgb(45, 56, 67);
    line-height: 1.6;
    font-size: .5em;
  }
  
  @media (min-width: 48rem) {
    h1 {
        font-size: 1.4em;
      }
      
    
    p {
        font-family: Inter, sans-serif;
        color: rgb(45, 56, 67);
        line-height: 1.6;
        font-size: .8em;
      }
  }